/* nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

nav .left-menu,
nav .right-menu {
    display: flex;
    width: 537px;
    min-width: 271px;
    align-items: center;
    align-content: center;
    gap: 20px var(--size-spacing-20, 20px);
    flex-shrink: 0;
    flex-wrap: wrap;
}

nav a {
  font-size: 15px;
  color: gray;
  text-decoration: none;
  font-family: 'PT Sans Caption', sans-serif;
  transition: color 0.3s ease;
}

nav a.current {
  color: rgb(74, 68, 68);
}

nav a:hover {
  color: red;
}

nav a.current:hover {
  color: green;
}
 */

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("../images/tutoral_sections_1920.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    /* Картинка будет покрывать весь экран, сохраняя пропорции */
}

body img {
    opacity: 50%;
}

html,
body {
    min-height: 100%;
}

h1,
blockquote,
ol,
ul,
a,
p {
    /* width: 700px; */
    margin: auto;
}

img {
    width: 120px;
    margin: auto;
    display: block;
}

p {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

header a,
header p {
    font-family: "Open Sans", sans-serif;
    /* display: inline; */
    font-size: 15px;
    color: gray;
    text-decoration: none;

    transition: color 0.3s ease;
}

/* Header */
header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    padding-inline: 5%;
    width: 100%;
    height: 100px; /* TODO */
    /* max-height: 40;
    margin-top: 40;
    margin-bottom: 20; */

    background: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}

header nav {
    display: flex;
    flex-direction: row;
    left: 50%;
    position: absolute;
    width: fit-content;
    gap: 20px;
}

.header-left {
    background-image: url(../images/A_LogoText.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 346px;
    height: 39px;
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 246px;
    max-width: 500px;

    /*height: 40px;
    /* margin: 0 auto;
    padding: 0 20px; */
    gap: 20px;
}

.header-middle a {
    gap: 20px;
    /* display: inline; */
    font-size: 15px;
    color: gray;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    transition: color 0.3s ease;
}

.header-middle a.current {
    color: black;
}

.header-middle a.current:hover {
    color: green;
}

.header-middle a:hover {
    color: red;
}

.header-right {
    display: flex;
    flex-wrap: wrap;
    
    /* flex-direction: row; */
}

.main-first {
    margin-top: 2300px;
    /* background-color: darkgreen; */
    width: 100%;
    height: 100vh;
}

.Q_SearchIcon {
    background-image: url(../images/Q_SearchIcon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.burger-menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
}

/* Поле для отправки почты */
.subscribe {
    display: flex;
    align-items: center;
    gap: 8px;

    width: 100%;
    max-width: 528px;
    height: 48px;
}

.subscribe input {
    flex: 1;
    height: 100%;
    padding: 5px 10px;

    border: none;
    outline: none;

    background: rgba(233, 233, 233, 0.5);

    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.subscribe button {
    height: 100%;
    padding: 0 20px;
    border: none;
    background: #858585;

    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: -1px;

    color: #fff;
    transition: 0.2s ease;
}

.subscribe button:disabled {
    color: #555;
    cursor: not-allowed;
    opacity: 0.7;
}

/* Кнопки */
#section-4 .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

#section-4 .buttonContainer a,
#section-4 .buttonContainer button {
    display: flex;
    height: 48px;
    width: 100%;
    max-width: 271px;
    min-width: 110px;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;

    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

#section-4 .primary {
    background: var(--colors-neutrals-900, #1f1f1f);
}

#section-4 .secondary {
    background: var(--colors-neutrals-450, #858585);
}

/* Адаптивность меню */
@media (max-width: 1152px) {
    nav {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header-middle.open {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}